/*INICIO MAIN LOCALES*/
/*subir rectangulo lista*/

.contenedor{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content h1{
    display: flex;
    font-family: coluna;
    justify-content: center;
    color: white;
}

.info_estilo p{
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: coluna;
    padding-right: 45px;
    margin-left: 42px;
    
}


/*INICIO MAIN LOCALES*/