/*INICIO MAIN SHOP*/

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor h3 {
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: coluna;
}

.busqueda{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.buscador{
    margin-bottom: 6px;
}

.carrusel_shop{
    margin-bottom: 22px;
}

/*FIN MAIN SHOP*/